body{
    min-height: 150%;
    <!--background-image: url("https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png");-->
    background-blend-mode: overlay;
    background-size: cover;
}
.welcome{
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    font-size: 2rem;
    color: lightgreen;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}