<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/all.css">
      <title>User dashboard</title>
  </head>
  <body>
  <h1>User Dashboard</h1>
  <form enctype="multipart/form-data" action="/dashboard" method="post">
      <input type="file" accept="text/csv" name="myFile">
      <input type="submit" value="upload" />
  </form>
  <table class="dashboard">
      <tr>
          <td><label class="custom-col">Name</label></td>
          <td><label class="custom-col">Phone</label></td>
          <td><label class="custom-col">Username</label></td>
          <td><label class="custom-col">Email</label></td>
      </tr>
      {{range .RegistrationList}}
      <tr>
          <td><label>{{.FirstName}}</label></td>
          <td><label>{{.Phone}}</label></td>
          <td><label>{{.Username}}</label></td>
          <td><label>{{.Email}}</label></td>
      </tr>
      {{ end }}
  </table>
  </body>
</html>