<html lang="en">
    <head>
        <title>User registration</title>
    </head>
<body>
<h1>User Registration</h1>
<form action="/saveRegistration" method="POST">
    <table>
        <tr>
            <td><label>Enter first name</label></td>
            <td>: </td>
            <td><input type="text" name="firstname"><br></td>
        </tr>
        <tr>
            <td><lebel>Enter last name</lebel></td>
            <td>: </td>
            <td><input type="text" name="lastname"><br></td>
        </tr>
        <tr>
            <td><label>Enter your phone number</label></td>
            <td>: </td>
            <td><input type="text" name="phone" ><br></td>
        </tr>
        <tr>
            <td><label>Enter username</label></td>
            <td>: </td>
            <td><input type="text" name="username" ><br></td>
        </tr>
        <tr>
            <td><label>Enter your email address</label></td>
            <td>: </td>
            <td><input type="email" name="email" >{{.Email}}<br></td>
        </tr>
        <tr>
            <td><label>Enter password</label></td>
            <td>: </td>
            <td><input type="password" name="password" ><br></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td align="right"><input type="submit" value="registration"><br></td>
        </tr>
    </table>
</form>
</body>
</html>
