<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TODO</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    <ul>
        {{range .Todos}}
            {{ if .Done}}
                <li class="done"> {{.Item}} </li>
            {{ else }}
                <li > {{.Item}} </li>
            {{ end }}
        {{ end }}
    </ul>
    <script src="/static/js/script.js" type="text/javascript"></script>
</body>
</html>