<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/template.css">


    <title>Welcome {{.Sale}}</title>
</head>
<body>
<div class="welcome center">Last day {{.Sale}}, {{.Time}}</div>
</body>
</html>